# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**: 
- List popular languages for Data Science
- List popular libraries for Data Science
- List popular development environments (tools) used for Data Science 
- Demonstrate basic arithimetic calculations

Some of the popular languages that Data Scientists use, are: 
1. Python
2. R
3. Java
4. Java Script
5. Julia
6. C++

Some of the commonly used libraies used by Data Scientists include: 
1. Pandas 
2. NumPy
3. SciPy
4. Keras
5. Sickitlearn
6. PyBrain

| Data Science tools|
-----------------------------
|Jupyter (Notebooks/ Lab) |
| Apache Zeppelin|
| Spider|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This is a simple arithmetic expression to multiply, then ad integers: 
(3*4)+5

17

In [2]:
# This will convert 200 minutesto hours by divinding by 60: 
200/60

3.3333333333333335

## Author: 
I. Daniela Beinarovica